ant
astyle
cgdb
cmake
crontabs
cscope
dos2unix
expect
git-all
glibc-langpack-ko
indent
java-1.8.0-openjdk-devel
java-11-openjdk-devel
kcachegrind
libstdc++-static
lsof
man-db
man-pages
ncurses-devel
net-tools
ninja-build
openssh-server
openssl-devel
passwd
perf
procps-ng
python2-devel
python3-devel
sudo
systemtap-sdt-devel
unixODBC-devel
vim-enhanced
wget
